/*QUANDO UTILIZA O * QUER DIZER QUE O SITE IRÁ FAZER TODO ELE PRIMEIRO ANTES DO RESTANTE, É UM TIPO DE RESET*/
*{ 
    box-sizing: border-box; /*FAZ COM QUE NÃO ALTERE O TAMANHO DA DIV QUANDO INSERIR UM PADDING*/
    margin: 0;
    padding: 0; 
}
#retangulo{
    width: 1200px;   /*LARGURA*/
    height: 400px;   /*ALTURA*/
    background-color: #65878F; /*COR DE FUNDO*/
} 

.quadrado{
    width: 200px;
    height: 200px;
    background-color: #FFC153;

    float: left; /*FLUTUA PARA A ESQUERDA*/


/*---------------TIPOS DE MARGINS---------------*/
    /* margin-top:100px;
    margin-left:100px;
    margin-bottom:100px;
    margin-right:100px; */
    margin: 100px 50px 100px 50px;
/*---------------TIPOS DE MARGINS---------------*/

    border-radius: 10px; /*DEIXA OS CANTOS ARREDONDADOS*/
    
}
.circulo{
    width: 150px;
    height: 150px;
    background-color: #47B39D;

    border-radius: 50%; /*PODE SER UTILIZADO EM PORCENTAGEM PARA OBTER UMA MAIOR PRECISÃO*/

    margin: 25px
}

#esquerda{
    width: 500px;
    height: 400px;
    background-color: #462446;

    float: left;

    margin: 100px 0 0 100px; 
}

/* PEGA O ELEMENTO H1 QUE ESTÁ DENTRO DA DIV ID="ESQUERDA" */
#esquerda h1{ 
    color: #fff;
    padding: 100px; /* MARGIN INTERNA DA DIV, FUNCIONA NO MESMO ESQUEMA DO MARGIN */
}

/* LINK PARA PALETAS DE CORES // hexadecimal // rgb // normal
    http://flatcolors.net/palettes/
    http://design24horas.com/arte-e-design/rgb-e-hex-hexadecimal/
    https://www.w3schools.com/colors/default.asp
*/